@page "/transactions"

@inject IJSRuntime JSRuntime
@inject IGetTransactionsUseCase GetTransactionsUseCase

<div class="row">
    <div class="col-2">
        <label for="cashier">Cashier Name</label>
        <input type="text" id="cashier" class="form-control" @bind-value="cashierName" />
    </div>
    <div class="col-3">
        <label for="startdate">Start Date</label>
        <input type="date" id="startdate" class="form-control" @bind-value="startDate" />
    </div>
    <div class="col-3">
        <label for="enddate">End Date</label>
        <input type="date" id="enddate" class="form-control" @bind-value="endDate" />
    </div>
    <div class="col-2">
        <label>&nbsp;</label>
        <button type="button" class="btn btn-primary" @onclick="LoadTransactions">Search</button>
    </div>
    <div class="col-2">
        <label>&nbsp;</label>
        <button type="button" class="btn btn-primary" @onclick="PrintReport">Print</button>
   
    </div>
</div>
<br />

@if (transactions != null)
{
    <div id="PrintDiv">
        <table class="table">
            <thead>
                <tr>
                    <th>Date / Time</th>
                    <th>Cashier Name</th>
                    <th>Product Name</th>
                    <th>Quantity Before</th>
                    <th>Quantity Sold</th>
                    <th>Quantity After</th>
                    <th>Sold Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tran in transactions)
                {
                    <tr>
                        <td>@tran.TimeStamp.ToString("MM-dd-yyyy hh:mm")</td>
                        <td>@tran.CashierName</td>
                        <td>@tran.ProductName</td>
                        <td>@tran.BeforeQuantity</td>
                        <td>@tran.SoldQuantity</td>
                        <td>@(tran.BeforeQuantity - tran.SoldQuantity)</td>
                        <td style="text-align:right">@(string.Format("{0:c}", tran.SoldQuantity * tran.Price))</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">&nbsp;</td>
                    <td style="text-align:right">
                        <b> GrandTotal:</b>
                    </td>
                    <td style="text-align:right">
                        <b>
                            @(string.Format("{0:c}", transactions.Sum(x => x.SoldQuantity * x.Price)))
                        </b>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}

@code {

    private string cashierName;
    private DateTime startDate;
    private DateTime endDate;
    private IEnumerable<Transaction> transactions;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        startDate = DateTime.Today;
        endDate = DateTime.Today;
    }

    private void LoadTransactions()
    {
        transactions = GetTransactionsUseCase.Execute(cashierName, startDate, endDate);
    }

    private void PrintReport()
    {
        JSRuntime.InvokeVoidAsync("printDiv");
    }
}

